<head>
        <title>Announcement Detail</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'Tapp/css/bootstrap.css' %}">
        <link rel="shortcut icon"  href="{% static 'Tapp/images/favicon.ico' %}" type="image/x-icon" >
</head>
<body>
    <div class="container">
    {% if announcements %}
    <p class="lead text-center text-info">{{ course_name }} 课程公告</p>
    <div>
        {% for announcement in announcements %}
            <div class='hero-unit'>
                <p><strong>公告标题</strong> <span class="text-info"> {{ announcement.anno_title }}</span></p>
                <p><strong>发布时间</strong> <span class="text-info"> {{ announcement.anno_pubtime }}</span> </p>
                <p><strong>公告内容</strong><br> <span class="text-info"> {{ announcement.anno_content }}</span> </p>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="lead"><strong>暂无公告</strong></p>
    {% endif %}
    </div>
</body>
<footer>
    <div class="container">
        <small>&COPY;All Copyright about LHK</small>
    </div>
</footer>