<head>
    <title>Course Detail</title>
    {% load static %}
    <link rel="shortcut icon"  href="{% static 'Tapp/images/favicon.ico' %}" type="image/x-icon" >
    <link rel="stylesheet" href="{% static 'Tapp/css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
    {% if course %}
    <ul class="nav nav-tabs">
        <li class="active">
          <a href="#">顶部</a>
        </li>
        <li><a href="#course_info">课程信息</a></li>
        <li><a href="#anno">公告</a></li>
        <li><a href="#knowledge">知识点</a></li>
      </ul>
    <div id="course_info" class="hero-unit">
        <p class="lead text-center"><strong>课程信息</strong></p>
        <p class="text-info"><strong>课程名字</strong>  {{ course.course_name }}</p>
        <p class="text-info"><strong>课程教师</strong>  {{ course.teacher.teacher_name }}</p>
        <p class="text-info"><strong>选课学生数</strong>  {{ course.course_stu_num }}</p>
    </div>
    <div id="anno" class="hero-unit">
        <p class="lead text-center"><strong>最新公告</strong></p>
        {% if announcement %}
        <fieldset>
            <p><strong>公告标题</strong> {{ announcement.anno_title }}</p>
            <p><strong>发布时间</strong>   {{ announcement.anno_pubtime }} </p>
            <p><strong>公告内容</strong><br> {{ announcement.anno_content }} </p>
            <p class="lead"><small><a href="{% url 'Tapp:announcements' course.id %}">全部公告</a></small></p>
        </fieldset>
        {% else %}
            <p class="lead"><small>暂无公告</small></p>
        {% endif %}
    </div>
    <div id="knowledge" class="hero-unit">
        {% if knowledges %}
            <p class="lead text-center"><strong>课程知识点</strong></p>
            <ol>
                {% for knowledge in knowledges %}
                    <li ><a href=" {% url 'Tapp:knowledgeDetail' knowledge.id %}" class="text-info">{{knowledge.knowledge_name}} </a></li>
                {% endfor %}
            </ol>
        {% else %}
            <p class="lead"><small>暂无知识点</small></p>
        {% endif %}
    </div>
    {% else %}
        <p>无此课程</p>
    {% endif %}
    </div>
</body>
<footer>
    <div class="container">
        <small>&COPY;All Copyright about LHK</small>
    </div>
</footer>