
<head>
    <title>Design Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Tapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href='{% static "Tapp/codemirror/lib/codemirror.css" %}'>
    <link rel="shortcut icon"  href="{% static 'Tapp/images/favicon.ico' %}" type="image/x-icon" >
</head>

<body>
    <div class="container hero-unit">
    {% if design %}
        <p class="lead text-center"><strong class="text-info">{{ design.question_title }}</strong> </p>
        <p class="lead"><strong>问题描述</strong> <br> <span class="text-info">{{ design.question_text }}</span> </p>
        <p class="lead"><strong>要求的语言</strong> <br> <span class="text-info"> {{ design.question_language }}</span> </p>
        <p class="lead"><strong>Example Input</strong><br>{{ design.example_input }} </p>
        <p class="lead"><strong>Example Output</strong> <br> {{ design.example_output }} </p>
        <p class="lead"><strong>注意</strong> 以文件形式IO 注意格式 </p>
        <form action="{% url 'Tapp:handleDesign' design.id %}" method="POST" >
            {% csrf_token %}
            <div class="">
                <label for="code">{{ design.question_language }}</label>
                <textarea name="code" id="code" cols="80" rows="20"></textarea>
            </div>
            <div class="form-actions">
                <button class="btn-info btn-large">提交</button>
            </div>
        </form>
        <script src='{% static "Tapp/codemirror/lib/codemirror.js" %}'></script>
        <script src='{% static "Tapp/codemirror/mode/clike/clike.js" %}'></script>
        <script src='{% static "Tapp/codemirror/mode/python/python.js" %}'></script>
        <script src='{% static "Tapp/codemirror/mode/verilog/verilog.js" %}'></script>
        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                lineNumbers: true,
                mode:"{{ textType }}",

            });
            $(".CodeMirror-scroll").hover(function(){
                $(this).get(0).style.cursor = "text";
            });
        </script>
    {% else %}
    <p class="lead">No such design question</p>
    {% endif %}
    </div>
</body>

<footer>
    <div class="container">
        <small>&COPY;All Copyright about LHK</small>
    </div>
</footer>