<head>
    <title>Draw Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Tapp/css/bootstrap.css' %}">
    <link rel="shortcut icon"  href="{% static 'Tapp/images/favicon.ico' %}" type="image/x-icon" >
</head>

<body>
    <div class="container hero-unit">
    {% if draw %}
        <p class="lead"><strong>问题描述</strong> <br> <span class="text-info">{{ draw.question_text }}</span> </p>
        <p class="lead"><strong>要求的语言</strong> <br> <span class="text-info"> {{ draw.question_language }}</span> </p>
        <form action="{% url 'Tapp:handleDraw' draw.id %}" method="POST" >
            {% csrf_token %}
            <div class="">
                <label for="asw"></label>
                <textarea name="asw" id="asw" cols="80" rows="20"></textarea>
            </div>
            <div class="form-actions">
                <button class="btn-info">提交</button>
            </div>
        </form>
    {% else %}
    <p class="lead">No such draw question</p>
    {% endif %}
    </div>
</body>

<footer>
    <div class="container">
        <small>&COPY;All Copyright about LHK</small>
    </div>
</footer>