<head>
    <title>Knowledge Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Tapp/css/bootstrap.css' %}">
    <link rel="shortcut icon"  href="{% static 'Tapp/images/favicon.ico' %}" type="image/x-icon" >
</head>
<body>
    {% if knowledge %}
    <ul id="navbar" class="nav nav-tabs">
        <li class="active">
          <a href="#">顶部</a>
        </li>
        <li>
            <a href="#select">选择题</a>
        </li>
        <li>
            <a href="#draw">连线题</a>
        </li>
        <li>
            <a href="#design">设计题</a>
        </li>
    </ul>
    <div class="container">
    <div class="page-header">
        <p class="lead text-center"><strong>{{ knowledge.course.course_name }} 课程 {{ knowledge.knowledge_name }}  题目</strong></p>
    </div>
    <div id="select" class="hero-unit">
        <p class="lead text-center">选择题</p>
        {% if selectSet %}
        <ol>
            {% for select in selectSet %}
            <li><a href="{% url 'Tapp:selectDetail' select.id %}" class="text-info"> {{ select.question_text }} </a></li>
            {% endfor %}
        </ol>
        {% else %}
            <p class="lead"><small>暂无选择题</small></p>
        {% endif %}
    </div>
    <div id="draw" class="hero-unit">
        <p class="lead text-center">连线题</p>
        {% if drawSet %}
        <ol>
            {% for draw in drawSet %}
            <li><a href="{% url 'Tapp:drawDetail' draw.id %}" class="text-info"> {{ draw.question_text }} </a></li>
            {% endfor %}
        </ol>
        {% else %}
            <p class="lead"><small>暂无连线题</small></p>
        {% endif %}
    </div>
    <div id="design" class="hero-unit">
        <p class="lead text-center">设计题</p>
        {% if designSet %}
        <ol>
            {% for design in designSet %}
            <li><a href="{% url 'Tapp:designDetail' design.id %}" class="text-info"> {{ design.question_text }} </a></li>
            {% endfor %}
        </ol>
        {% else %}
        <p class="lead"><small>暂无设计题</small></p>
        {% endif %}
    </div>
    {% else %}
        <p class="lead">No such Knowledge</p>
    {% endif %}
    </div>
</body>
<footer>
    <div class="container">
        <small>&COPY;All Copyright about LHK</small>
    </div>
</footer>