<head>
    <title>登录</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Tapp/css/bootstrap.css' %}">
    <link rel="shortcut icon"  href="{% static 'Tapp/images/favicon.ico' %}" type="image/x-icon" >
</head>
<body>
    <div class="container hero-unit" >
        <p class="lead"><a href="{% url 'Tapp:register' %} ">去注册</a></p>
        <form action="{% url 'Tapp:midLogin' %}" method="POST" class="form-horizontal">
            {% csrf_token %}

            <div class="control-group">
                <label for="usr_count" class="control-label" >ID</label>
                <div class="controls">
                    <input type="text" maxlength="30" id="usr_count" name="usr_count" required>
                </div>
            </div>

            <div class="control-group">
                <label for="usr_pwd" class="control-label" >密码</label>
                <div class="controls">
                    <input maxlength="30" id="usr_pwd" type="password" name="usr_pwd" required>
                </div>
            </div>

            <div class="form-actions">
                <button id="submit" class="btn btn-info btn-large" >登录</button>
            </div>

        </form>

    </div>
</body>
<footer>
    <div class="container">
        <small>&COPY;All Copyright about LHK</small>
    </div>
</footer>
