<head>
    <title>User Info</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Tapp/css/bootstrap.css' %}">
    <link rel="shortcut icon"  href="{% static 'Tapp/images/favicon.ico' %}" type="image/x-icon" >

</head>
<body>
    <div class="container-fluid">
        <br>
    {% if usr %}
    <div class="span4">
        <p class="lead"><strong>用户基本信息</strong></p>
        <p class="lead"><strong>名字</strong>  {{ usr.stu_name }}</p>
        <p class="lead"><strong>ID</strong>  {{ usr.stu_id }}</p>
    </div>
    <div class="span4">
        <p class="lead"><strong>已选课程</strong></p>
        {% if selected_courses  %}
        <ul>
            {% for c in selected_courses %}
                <li><a href="{% url 'Tapp:courseDetail' c.id %} ">{{ c.course_name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="lead"><small>未选择课程</small></p>
        {% endif %}
    </div>
    <div class="span4">
        <p class="lead"><a href="{% url 'Tapp:courses' usr.pk %}">所有课程</a></p>
    </div>
    {% else %}
        <div class="span10">
            <p class="lead"><strong>无此用户</strong></p>
        </div>
    {% endif %}
    </div>
</body>
<footer>
    <div class="container">
        <small>&COPY;All Copyright about LHK</small>
    </div>
</footer>