<head>
        <title>Course Detail</title>
        {% load static %}
        <link rel="shortcut icon"  href="{% static 'Tapp/images/favicon.ico' %}" type="image/x-icon" >
        <link rel="stylesheet" href="{% static 'Tapp/css/base.css' %}">
</head>
<body>
    {% if usr %}
        <p>name : {{ usr.usr_name }}</p>
        <p>ID: {{ usr.usr_id }}</p>
        <p><a href="{ % url 'Tapp:courses' % }">All courses</a></p>
        {% if usr.course_set.all()  %}
        <p>已选课程</p>
        <ul>
            {% for c in usr.course_set.all() %}
                <li><a href="{% url 'Tapp:courseDetail' c.id %} ">{{ c.course_name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% else %}
        <p>No such user</p>
    {% endif %}
</body>
<footer>
    <p><small>&COPY;All Copyright about LHk</small></p>
</footer>